---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

html {
    min-width: 320px;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

@import
        "base"
;
