body {
  background-color:#E9EAED; 
}

ul {
  list-style:none;
}

body, ul {
  text-align: center;
}

li {
  display:inline;
  margin-right:15px;
}

li a:hover {
  color:#d7d7d7;
}

.wrap {
  padding:0px 10px;
}

.row {
  padding:0px 20px 20px 20px;
}

header h1 {
  font-size:26px;
}

.material {
  /*box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);*/
  background:#fff;
  display: block;
  max-width:960px;
  margin:0 auto;
  padding:0;
  float:none;
}

.material-content {
  padding:50px;
}

/* Card Styling */

.row-cards a:hover {
  text-decoration: none;
}

.card {
  display: block;
    margin: 50px auto;
    height: 200px;
    /*width: 400px;*/
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    transition: all 0.4s ease-out;
    color: white;
}

.card:hover {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
}

.cirro {
      background: radial-gradient(circle at top left, rgb(255, 229, 0) 10%, rgb(83, 191, 253) 26%, rgb(11, 46, 255) 100%);
}

svg path {
  fill:white;
}

.famicolors {
  background-color: #F83800;
}

/* Responsive */


@media (min-width: 768px) {
  body {
    text-align:left;
  }
  ul {
  text-align:left;
}
  .wrap {
  padding:0px 50px;
}
}

@media (max-width: 767px) {
  .wrap,.container-fluid,.row {
    padding:0;
  }
}

/* Retired CSS :cry: */

/*.port {
  margin:50px 0px;
}*/