<header class="flex justify-between items-center mb-6 sm:my-3">
  <div class="flex items-center">
    <a href="/" class="text-2xl font-serif font-bold">
      @jkulton
    </a>
  </div>
  <nav class="flex items-center whitespace-nowrap overflow-x-auto overflow-y-hidden">
    <a class="ml-5 text-indigo-600 hover:underline" href="/">Home</a>
    <!-- <a class="ml-5 text-indigo-600" href="/writing">Writing</a> -->
    <a class="ml-5 text-indigo-600 hover:underline" href="/projects">Projects</a>
  </nav>
</header>