/**
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */

html {
    min-width: 320px;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    padding: 0 1rem;
}

a {
    color: #2196F3;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p { margin-bottom: .5rem; }

img { width: 100%; }

.p1 { padding: 1rem; }
.p2 { padding: 2rem; }

.m1 { margin: 1rem; }
.m2 { margin: 2rem; }
.ml1 { margin-left: 1rem; }
.mb1 { margin-bottom: 1rem; }

.wrapper, header {
    max-width: 35rem;
    margin:0 auto;
}

header {
    max-width: 35rem;;
    margin-bottom: 1rem;
}

header h1 {
    padding-bottom: .75rem;
}

header.site-header:after {
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: block;
    content: '';
}

.content > h2 {
    margin-top: 0;
    font-size: 1.25rem;
}

header a {
    font-size: 1rem;
    font-weight: normal;
}

h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.twitter {
    margin: 3rem 0 1rem 0;
    border-top:1px solid #ddd;
    padding-top:.5rem;
    text-align: center;
    color: #ccc;
    span {
        display:block;
    }
    a {
        background-color: #55acee;
        color:white;
        font-weight: normal;
        padding: .25rem .5rem;
        border-radius: 20px;
        margin-top:1rem;
        display:inline-block;
        &:hover {
            text-decoration: none;
            background-color: darken(#55acee, 10%);
        }
    }
}

.page-title {
    font-weight: normal;
    margin-bottom: 1rem;
}

// 100ui

.card {

    p {
        display:inline-block;
    }

    img {
        width: 100%;
    }

    .date {
        color: #ccc;
        font-size: .9rem;
    }

    a {
        display: inline-block;
        float:right;
        background:#ebebeb;
        border-radius:20px;
        padding:.1rem .5rem;
        font-weight: normal;
        font-size:.9rem;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            background-color: darken(#ebebeb, 5%);
        }
    }
}

.content {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.content a {
    font-size:1rem;
}