/**
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */

html {
    min-width: 240px;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

.main {
    padding:15px;
    max-width:45em;

    h1,h2,h3,h4,h5 {
        font-weight: bold;
    }

    h4,h2 {
        border-bottom:4px solid $text-color;
        display: inline-block;
        padding-bottom:2px;
        margin-top:1rem;
    }
    h4,h2 {
        margin-bottom:1rem;
    }
}

@media (min-width:768px) {
    .main {
        padding:3rem;
        margin:20px auto;
    }
}

.name {
    font-size:3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.hero {
    margin-bottom:10px;
}

.info {
    text-align: center;
}

.header-position {
    position:absolute;
    bottom:5%;
    left:5%;
    padding:15px;

    h4, h1 {
        margin:0;
        color:white;
    }

}

.button {
    border:2px solid transparent;
    font-size:0.95em;
    padding:0.7rem;
    text-transform: uppercase;
    transition:all 0.3s ease-in;
    display: inline-block;
    margin-bottom:10px;
}

.button:hover {
    text-decoration: none;
    color:white;
}



/*
Post Styling
*/

.paper {
    background-color:#fff;
    box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

.paper-sm {
    padding:5px 10px;
    display: inline-block;
    margin-bottom:15px;
}

.paper-link {
    color:white !important;
    transition:all 0.2s ease-in;
}

ul.projects {

    margin:0;

    li {
        list-style-type: none;
        margin-bottom:10px;

        a {
            text-transform:uppercase;
            font-weight:bold;
        }
    }
}

.ul-inline {
    margin:0;
}

.sized-link {
    display: inline-block;
    width:100%;
    height:100%;
}

.post {
    max-width:960px;
    margin:0 auto;
    float:none;
    padding:0;
}

.dark-hr {
    border-top:1px solid #a0a0a0;
    margin:10px auto;
    width:80%;
}

.post-content {

    padding-bottom:50px;

    p {
        margin:25px 50px;
        font-family:'Georgia';
        font-size:22px;
    }
}

.post-header {
    padding:50px 50px 0px 50px;
}

.post-title {
    font-family:'Open Sans';
    font-weight:bold;
    font-size:36px;
}

.container-fluid {
    padding-left:75px;
    padding-right:75px;
    padding-top:50px;
    margin-right:auto;
    margin-left:auto;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom:10px;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        text-decoration:none;
    }
}

.card p a:hover {
    background-color:darken(#eee, 10%);
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.container-fluid {
    @include media-query($on-laptop){
        padding:0;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

#night {
    color:white;
    background-color:#222;

    a {
        color:#00CCFF;
        &:hover{
            color:#00CCFF;
            border-bottom:2px solid #00CCFF;
        }
    }

    .main {
        background-color:#222;
        color:white;
    }

    h4,h2 {
        border-bottom:4px solid #fff;
    }

    .hero {
        filter:grayscale(1);
        -webkit-filter:grayscale(1);
    }
}
