/*
 ===========
  CSS RESET
 ===========
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
  border:none;
}


/*
 ================
  Jonathan's CSS
 ================
*/

/*
 ================
  Temp - Outline
 ================
*/


*/ {
  outline: 1px solid black;
}

/*
 ================
    Page Wrap
 ================
*/

.wrap {
	min-width: 960px;
	min-height:100%;
	position:relative;
	margin: 0;
	padding-top: 0px;
}

/*
 =====================
  Top Nav Bar/Buttons
 =====================
*/

.top {
  display:block;
  height:50px;
  text-align:right;
  width:100%;
}

.links {
  position:relative;
  float: right;
  margin-right:32px;
  height:25px;
  display:inline-block;
  padding: 16px 0px 20px 0px;
}

ul li {
  display:inline-block;
  /*padding: 20px 0px 20px 0px;*/
}

ul {
  display:inline-block;
}

#grid {
  width:22px;
  margin-bottom:-4px;
  padding:0px 10px 0px 5px;
  
  
}

a {
  padding:5px;
  color:#535454;
  text-decoration:none;
  font-family:helvetica;
  font-size:.8em
}

a:hover {
  text-decoration:underline;
}

.signIn {
	display:inline-block;
  position:relaive;
  font-weight:bold;
  color:white;
  background:#3786FF;
  padding: 5px 7px 7px 7px;
  text-align:center;
  border-radius:2px;
  border-width:1px;
  border-style:solid;
  border-color:#3786FF;
  
}

.siText {
  color:white;
  font-size:.8em
}

.siText:hover {
  text-decoration: none;
}

.omg {
  display:inline-block;
}

/*
 ================
   Middle Logo
 ================
*/

.logo {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:135px;
  height:95px;
    
}

/*
 ================
   Search Bar
 ================
*/

.search {
  margin:22px;
}

.inputField {
  width:46%;
  height:25px;
  margin-left:27%;
  border:1px solid #D0D0D0;
  background-image: url("https://dl.dropboxusercontent.com/u/15152010/thinkful/FEWD/google_clone/images/microphone.png");
  background-repeat:no-repeat;
  background-position:99% 50%;
  background-size:23px;
  
}

input:hover {
  border:1px solid #ABABAB;
}

input:focus {
  border:1px solid blue;
}

/*
 ================
  Search Buttons
 ================
*/

.centerButtons {
	width:225px;
  margin-left:auto;
  margin-right:auto;
}

.searchButtons {
  height:100px;
  width:50px;
  display:inline;
  font-family:helvetica;
  
}

.gSearch {
	display:inline-block;
  margin-left:auto;
  margin-right:6px;
  padding: 8px;
  border:1px solid #D0D0D0;
  border-radius:2px;
  background-color:#EFEFEF;
  font-size:.7em;
  font-weight:bold;
  color:#343434;
}

.feelingLucky {
	display:inline-block;
  margin-left:6px;
  margin-right:auto;
  padding:8px;
  border:1px solid #D0D0D0;
  border-radius:2px;
  background-color:#EFEFEF;
  font-size:.7em;
  font-weight:bold;
  color:#343434;
}

.gSearch:hover {
  border:1px solid #bababa;
  border-bottom-width:2px;
  background-color:#f4f4f4;
}

.feelingLucky:hover {
  border:1px solid #bababa;
  border-bottom-width:2px;
  background-color:#f4f4f4;
}


/*
 ================
      Footer
 ================
*/

.footer {
  height:40px;
  min-width: 1000px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #EEEEEE;
  border-top:1px solid #DDDDDD;
  
}

.left {
  float:left;
  margin-top:11px;
  margin-left:15px;
}

.footLink {
  padding:0px 14px 0px 13px;
}

.right {
  float:right;
  margin-top:11px;
  margin-right:16px;
}
