---
---
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Lora-Regular.woff2) format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: bold;
  font-weight: 800;
  src: url(/assets/fonts/Lora-Bold.woff2) format('woff');
}