body {
	background-color:#2980b9;
}

html, body, .container-fluid, .row {
	height:100%;
	width:100%;
}

.row {
	display: flex;
	align-items:center;
	justify-content:center;
}

svg {
	width:200px;
	height:200px;
}

svg path {
	fill:#fff;
}