<section class="w-100 h5 bg-blue pa3">
	<section class="mw7 center white">
		<h1>Jon Kulton</h1>
		<h3>Designer</h3>
	</section>
</section>
<section class="h-100 material-bg w-100">
	<section class="mw7 center relative" style="margin-top:-3rem;">
		<section class="card">
		</section>
		<section class="card">
		</section>
		<section class="card">
		</section>
		<section class="card">
		</section>
		<section class="card">
		</section>
		<section class="card">
		</section>
	</section>
</section>

<style>
.material-bg { background: #e9eaee; }
.card { margin-bottom: 2rem; height: 20rem; width: 100%; background: #fff; box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25); }
</style>