<!DOCTYPE html>
<html>

  {% include head.html %}

  <body onscroll="prog()" onresize="prog()">
	<section class="f5 lh-copy pa4 mw6">
	  <section class="content">

	    <h2 class="mt0 mb0">{{ page.title }}</h2>

	    <article>
	    	{{ content }}
	    </article>

	    <span class="mb1 db f5 italic silver w-100">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>

	  </section>
	</section>
  </body>

  <script src="{{ "/js/prog.js" | prepend: site.baseurl }}"></script>


</html>
