<html ng-app="styleList">
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
		<link rel="stylesheet" href="https://npmcdn.com/tachyons@4.1.0/css/tachyons.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		.mla  { margin-left: auto; }
		.mw-75 { max-width: 75%; }
		.bs-1 { box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15); }
		</style>
	</head>
	<body ng-controller="ListController" class="mw7 center pa3 bg-light-gray">
		<h2 class="ttu tc tracked mt3">CSS Lexicon</h2>
		<ul ng-if="styleArray.length" class="list pl0">
			<li>
				<input type="text" class="mb3 gray br2 pa2 w-100 ba b--light-silver" ng-model="search" placeholder="Search Styles" />
			</li>
			<li class="mb3 flex f6" style="font-family: monospace;" ng-repeat="style in styleArray | filter: search track by $index ">
				{{ style }}
			</li>
		</ul>
		<textarea placeholder="Paste functional CSS here and parse to create a searchable list." ng-model="userStyles" class="styleInput mw-100 pa2 w-100 h4 ba b--light-silver br2 mb3"></textarea>
		<section ng-if="!styleArray.length" class="w-100 tc">
			<a ng-click="showMe()" style="box-sizing:border-box;" class="w-100 w-50-ns f6 link dim br2 ph3 pv2 mb2 dib white bg-dark-gray" href="#0">Parse</a>
		</section>
		<section class="f6 w-100 moon-gray tc mt3">
			Made with <a class="moon-gray" href="http://tachyons.io/">Tachyons</a>
		</section>
		<script src="app.js"></script>
	</body>
</html>
