<html ng-app="styleList">
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
		<link rel="stylesheet" href="../styles.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		textarea:focus { outline-color: gold; }
		</style>
	</head>
	<body ng-controller="ListController" class="mw7 center pa3 bg-near-white">
		<h1 class="ttu tc tracked mt4">CSS Lexicon<span class="moon-gray ml2 f6 italic">beta</span></h1>
		<ul ng-if="styleArray.length" class="list pl0">
			<li>
				<input type="text" class="mw-100 pa3 w-100 bn gray bn bs-1 br2 mb3" ng-model="search" placeholder="Search Styles" />
			</li>
			<li class="mb3 pb3 flex items-center bb b--moon-gray" ng-repeat="style in styleArray | filter: search track by $index ">
				<span class="pre">{{ style[0] }}</span>
				<span class="mla pre mv2 tr">{{ style[1] }}</span>
			</li>
		</ul>
		<textarea ng-show="!styleArray.length" placeholder="Paste functional CSS here and parse to create a searchable list." ng-model="userStyles" class="styleInput mw-100 pa2 w-100 h5 bn gray bn bs-1 br2 mb3"></textarea>
		<section ng-if="!styleArray.length" class="w-100 tc">
			<button ng-click="showMe()" class="Button bg-dark-gray pointer w-100 w-50-ns ttu f5 bn br2 b tracked pv2 ph3 mb2 dib white grow" href="#0">Parse</button>
		</section>
		<section class="f6 w-100 gray tc mt3">
			Made with <a class="gray" href="http://tachyons.io/">Tachyons</a>
		</section>
		<script src="app.js"></script>
	</body>
</html>
